.profileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.loading,
.error {
  height: 300px;
}

.avatarWrapper {
  margin: 0 auto;
}

.inputsBlock {
  cursor: not-allowed;
}

.editing {
  border: 2px solid var(--inverted-primary-color);

  .inputsBlock {
    cursor: pointer;
  }
}
