.notifications {
  min-height: 150px;
  max-height: 300px;
  width: 500px;
  overflow-y: auto;
}

.notificationContainer {
  position: relative;
}

.notificationCount {
  position: absolute;
  bottom: -8px;
  right: -8px;
}
