.notificationItem,
.link {
  width: 100%;
}

.notificationItem {
  display: flex;
  justify-content: space-between;
}

.content {
  display: inline-block;
}

.clearBtn {
  width: 22px;
  height: 22px;
}
